{% extends "layout.html" %}
{% load dashboard_tags %}

{% block title %}Facebook Profile{% endblock %}
{% block css %}
    <!-- Leaflet stylesheet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
{% endblock %}
{%block content%}
{#    <div class="row">#}
{#        <div class="text-center">#}
{#            <h1 class="header">#}
{#                <i class="fa fa-facebook-square" aria-hidden="true"></i>#}
{#                profile#}
{#            </h1>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="row p-t-4">#}
{#        <div class="col-md-6">#}
{#            <div class="profile-well well well-md">#}
{#                <div class="row p-t-1">#}
{#                    <div class="col-xs-2 col-md-7">#}
{#                        <h4></h4>#}
{#                        <p><i class="fa fa-user" aria-hidden="true"></i>#}
{#                            <strong>Full name:</strong> {{facebook.first_name}} {{ facebook.last_name }}#}
{#                        </p>#}
{##}
{#                        <p><i class="fa fa-envelope" aria-hidden="true"></i>#}
{#                            <strong>Email:</strong> {{ facebook.facebook_email }}#}
{#                        </p>#}
{#                        <p><i class="fa fa-users" aria-hidden="true"></i>#}
{#                            <strong>Friends:</strong> {{ facebook.friends_count }}#}
{#                        </p>#}
{#                        <p><i class="fa fa-venus-mars" aria-hidden="true"></i>#}
{#                            <strong>Gender:</strong> {{ facebook.gender }}#}
{#                        </p>#}
{#                        <p><i class="fa fa-calendar" aria-hidden="true"></i>#}
{#                            <strong>Age range:</strong> + {{ facebook.age_range }}#}
{#                            years#}
{#                        </p>#}
{#                        <p><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>#}
{#                            <strong>Number of page likes</strong>#}
{#                        </p>#}
{#                    </div>#}
{#                    <div class="col-xs-6 col-md-4">#}
{#                        <img src="{{ facebook.profile_picture_url|default:"http://placehold.it/168x168" }}" alt="'profile-picture'" class="img-rounded profile-img-detail">#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-md-6">#}
{#            <div class="profile-well well well-md">#}
{#                <div class="row p-t-1">#}
{#                    <div class="col-xs-3 col-md-7">#}
{#                        <h4></h4>#}
{#                        <p><i class="fa fa-user" aria-hidden="true"></i>#}
{#                            <strong>Full name:</strong> {{facebook.first_name}} {{ facebook.last_name }}#}
{#                        </p>#}
{##}
{#                        <p><i class="fa fa-envelope" aria-hidden="true"></i>#}
{#                            <strong>Email:</strong> {{ facebook.facebook_email }}#}
{#                        </p>#}
{#                        <p><i class="fa fa-users" aria-hidden="true"></i>#}
{#                            <strong>Friends:</strong> {{ facebook.friends_count }}#}
{#                        </p>#}
{#                        <p><i class="fa fa-venus-mars" aria-hidden="true"></i>#}
{#                            <strong>Gender:</strong> {{ facebook.gender }}#}
{#                        </p>#}
{#                        <p><i class="fa fa-calendar" aria-hidden="true"></i>#}
{#                            <strong>Age range:</strong> + {{ facebook.age_range }}#}
{#                            years#}
{#                        </p>#}
{#                        <p><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>#}
{#                            <strong>Number of page likes</strong>#}
{#                        </p>#}
{#                    </div>#}
{#                    <div class="col-xs-4 col-md-4">#}
{#                        <img src="{{ facebook.profile_picture_url|default:"http://placehold.it/168x168" }}" alt="'profile-picture'" class="img-rounded profile-img-detail">#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}


{% endblock %}
