{% extends "layout.html" %}
{% load static %}

{% block title %}Privacy Policy / Terms Of Service{% endblock %}

{%block content%}

    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 ">
            <div>
                <span class="text-center">
                <h2 class="header">Privacy Policy / Terms Of Service</h2><br>
                </span>
                <!-- Section 1 -->
                <div class="row ">
                    <span class="text-center">
                    <h3><strong>SECTION 1 - WHAT DO WE DO WITH YOUR INFORMATION?</strong></h3>
                    </span>
                    <div class="col-md-10 col-md-offset-1 col-xs-12 profile-well well md">
                        <p>
                            When you use our site, we do not collect the personal information you give us.<br><br>

                            All information are extracted through the social media profiles you connect, as for example facebook, instagram, linkedin and Spotify.
                            The information is used to provide you a view of your information and none of it is stored in a database.<br><br>

                            When you browse our website, we also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.
                        </p>
                    </div>
                </div>

                <!-- Section 2 -->
                <div class="row ">
                    <span class="text-center">
                        <h3><strong>SECTION 2 - CONSENT</strong></h3>
                    </span>
                    <div class="col-md-10 col-md-offset-1 col-xs-12 profile-well well md">
                        <p>
                            <strong>How do you get my consent?</strong><br><br>

                            When you provide us with personal information to use the service, we we imply that you consent to our collecting it and using it for that specific reason only.<br><br>

                            If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.
                        </p><br>

                        <p>
                            <strong>How do I withdraw my consent?</strong><br><br>

                            If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at:
                            niels@dawartz.dk or mailing us at Åboulevard 12 2th, Copenhagen, 84, 2200, Denmark

                        </p>
                    </div>
                </div>

                <!-- Section 3 -->
                <div class="row ">
                    <span class="text-center">
                        <h3><strong>SECTION 3 - DISCLOSURE</strong></h3>
                    </span>
                    <div class="col-md-10 col-md-offset-1 col-xs-12 profile-well well md">
                        <p>
                            We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.
                        </p>
                    </div>
                </div>

                <!-- Section 4 -->
                <div class="row ">
                    <span class="text-center">
                        <h3><strong>SECTION 4 - THIRD-PARTY SERVICES</strong></h3>
                    </span>
                    <div class="col-md-10 col-md-offset-1 col-xs-12 profile-well well md">
                        <p>
                            The third-party providers used by us will only provide us with the information needed. We can’t extract and show your information without your consent.<br><br>

                            However, certain third-party service providers, such as facebook, instagram, linkedin and spotify, have their own privacy policies in respect to the information we are required to extract from them for viewing your information.<br>br>

                            For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.<br><br>

                            In particular, remember that certain providers may be located in or have facilities that are located in a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.<br>br>

                            Once you leave our website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website’s Terms of Service.<br><br>

                            <strong>Links</strong><br><br>

                            When you click on links, they may direct you away from our site. We are not responsible for the privacy practices of other sites and encourage you to read their privacy statements.
                        </p>
                    </div>
                </div>

                <!-- Section 5 -->
                <div class="row ">
                    <span class="text-center">
                        <h3><strong>SECTION 5 - SECURITY</strong></h3>
                    </span>
                    <div class="col-md-10 col-md-offset-1 col-xs-12 profile-well well md">
                        <p>
                            To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.<br><br>

                            When you login to our service, the connection will be encrypted using secure socket layer technology (SSL).  Although no method of transmission over the Internet or electronic storage is 100% secure, we follow all the requirements and implement additional generally accepted industry standards.
                        </p>
                        <p>
                            <strong>COOKIES</strong><br><br>

                            Here is a list of cookies that we use. We’ve listed them here so you can choose if you want to opt-out of cookies or not.
                            <ul>
                                <li>_session_id, unique token, sessional, Allows us to store information about your session (referrer, landing page, etc).</li>
                                <li>_secure_session_id, unique token, sessional</li>
                                <li>csrftoken, protection against cross site scripting etc.</li>
                            </ul>

                            Please note, when you connect different Social Media profiles, they can use cookies. We are not responsible for any of these.
                        </p>
                    </div>
                </div>

                <!-- Section 6 -->
                <div class="row ">
                    <span class="text-center">
                        <h3><strong>SECTION 6 - AGE OF CONSENT</strong></h3>
                    </span>
                    <div class="col-md-10 col-md-offset-1 col-xs-12 profile-well well md">
                        <p>
                            By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.
                        </p>
                    </div>
                </div>

                <!-- Section 7 -->
                <div class="row ">
                    <span class="text-center">
                        <h3><strong>SECTION 7 - CHANGES TO THIS PRIVACY POLICY</strong></h3>
                    </span>
                    <div class="col-md-10 col-md-offset-1 col-xs-12 profile-well well md">
                        <p>
                            We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website.
                            If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.<br><br>

                            If our website is acquired or merged with another company, your information will not be transferred to the new owners.
                        </p>
                    </div>
                </div>

                <!-- questions and contact 7 -->
                <div class="row ">
                    <span class="text-center">
                        <h3><strong>QUESTIONS AND CONTACT INFORMATION</strong></h3>
                    </span>
                    <div class="col-md-10 col-md-offset-1 col-xs-12 profile-well well md">
                        <p>
                            If you would like to: register a complaint, or simply want more information contact us at:<br>
                            <a href="mailto:niels@dawartz.dk"><i class="fa fa-envelope-o" aria-hidden="true"></i> niels@dawartz.dk</a><br>
                            <i class="fa fa-map-marker" aria-hidden="true"></i> Åboulevard 12 2th, Copenhagen, 2200, Denmark
                        </p>
                    </div>
                </div>

        </div>
    </div>
{%endblock%}